@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>

<div class="header">
    <h1>Bem-vindo ao Projeto .NET</h1>
    <p>Explore os conceitos e recursos essenciais para criar aplicações robustas e modernas com .NET Core.</p>
</div>

<div class="container">
    <h2 class="text-center mb-4">O que você vai aprender?</h2>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Autenticação com ASP.NET Identity</h5>
                <p class="card-text">Aprenda como implementar o sistema de autenticação usando o ASP.NET Identity, garantindo segurança e controle de usuários.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Uso de SQLite para Armazenamento</h5>
                <p class="card-text">Integre o SQLite no projeto para armazenamento local, mantendo um banco de dados leve e fácil de configurar.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Suporte ao Entity Framework</h5>
                <p class="card-text">Adicione suporte ao Entity Framework para facilitar a manipulação de dados e realizar operações CRUD de forma eficiente.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Trabalhando com Migrações</h5>
                <p class="card-text">Utilize migrações no Entity Framework para gerenciar a evolução do banco de dados com mudanças estruturais.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scaffold - ASP.NET Code Generator</h5>
                <p class="card-text">Aprenda a gerar automaticamente código para as operações CRUD com o recurso Scaffold do ASP.NET.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Passando Parâmetros para Razor Pages</h5>
                <p class="card-text">Entenda como passar parâmetros de forma eficiente entre páginas Razor para uma navegação mais dinâmica.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Acesso Premium</h5>
                <p class="card-text">Implemente recursos de acesso premium no seu sistema para restringir funcionalidades a usuários autenticados ou com permissões especiais.</p>
            </div>
        </div>
    </div>
    <div></div>
</div> <br><br>

<div class="footer">
    <p class="warnning">&copy; 2024 - Todos os direitos reservados</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>